PORT=3000
NODE_ENV=development

JWT_SECRET=agrosat_dev_secret_key_2024
JWT_REFRESH_SECRET=agrosat_dev_refresh_key_2024
JWT_EXPIRES_IN=24h
JWT_REFRESH_EXPIRES_IN=7d

DATABASE_PATH=./database.sqlite

# NASA API
NASA_API_KEY=INSERT_KEY

CORS_ORIGIN=http://localhost:19000,http://localhost:8081,http://192.168.1.*,http://10.0.2.2:8081,http://10.0.2.2:19000